
@font-face {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
        src: url(twitterchirp.ttf);
}

*{
        padding: 0px;
        margin: 0px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
}

.twitter-login{
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: 1fr;
        height: max-content;
}

.login-image{
        background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png);
        background-size: cover;

}

.login-image img{
        width: 50%;
        height: 50%;
        object-fit: contain;    
        transform: translate(50%,50%);
}

@media screen and (max-width:1000px) {
        .twitter-login{
               display: flex;
               flex-direction: column-reverse;
        }
       .login-image img{
               width: 25%;
               height: fit-content;
               padding: 20px;
               transform: translate(100%,0%);
       }
       .login{
               margin: 0 auto;
       }
}

.login{
        padding: 16px;
}

.login-text{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,max-content);
        height: auto;
        padding: 20px;
}

.twitter-logo img{
        width: 45px;
        height: 47px;
        padding: 0px 0px 12px;
}

.twitter-heading{
        padding: 48px 0px;
}

.twitter-heading span{
        font-size: 64px;
        color: rgb(15, 20, 25);
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
        line-height: 84px;
        letter-spacing: -1.2px;
        font-weight: 700;
        box-sizing: border-box;
}

.twitter-sub-heading{
        margin-bottom: 32px ;
}

.twitter-sub-heading span{
        font-size: 31px;
        color: #0F1419;
        line-height: 36px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
        font-weight: 700;
}

.signup-details{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,max-content);
      
}

.google-details{
       padding-right: 70px;
}

.google-button{
        width: 300px;
        height: 40px;
        display: flex;
        border-radius: 20px;
        background-color: #fff;
        border: 1px solid #dadce0;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 10px;
        cursor: pointer;
}

.google-signup button:hover{
        background-color: rgb(228,244,255);
}

.google-image img{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: -4px;
        margin-right: 8px;
        cursor: pointer;
}

.google-image{
        align-items: center;
        display: flex;
}

.person-name{
        text-align: left;
}

.person-name span{
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: 0.25px;
        color: #3c4043;
        cursor: pointer;
        text-align: left;
}

.person-email{
        color: #5f6368;
        width: 100%;
        font-size: 11px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        letter-spacing: 0.25px;
} 

.google-logo{
        display: flex;
     
        align-items: center;
}

.google-logo img{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        align-items: center;
}

.apple-button{
        display: flex;
        width: 300px;
        height: 40px;
        justify-content: center;
        border: 1px solid #dadce0; 
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        background-color: white;
}

.apple-signup button:hover{
        background-color: #dadce0;
}

.apple-icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;    
}

.apple-icon i{
       font-size: 20px;
}

.apple-text{
        color: #0F1419;
        font-size:15px;     
        font-weight: 700;  
        line-height: 20px;
}

.or{
        width: 300px;
        display: flex;
        align-items: center;
        margin: 4px 0px;
        row-gap: 10px;
        height: max-content;
}

.or-text span{
        font-size: 15px;   
        line-height: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400; 
}

.left-line , .right-line{
        width: 150px;
        border-bottom: 1px solid rgb(239, 243, 244);
}

.email-button{
        display: flex;
        width: 300px;
        height: 40px;
        color: white;
        justify-content: center;
        align-items: center;
        background-color: rgb(29, 155, 240);
        border-radius: 20px;
        border: 1px solid white;
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 8px;
}

.email-signup button:hover{
        background-color: rgb(80, 175, 238);
}

.email-button span{
        font-size: 15px;
        color: white;
        font-weight: 700;
        line-height: 20px;
}

.terms{
        width: 300px;
        font-size: 12px;
        color:rgb(83, 100, 113);
        height: max-content;
        margin-bottom: 20px;
}

.terms a{
        text-decoration: none;
        color:rgb(29, 155, 240);
        cursor: pointer;
        line-height: 12px;
}

.terms a:hover{
        text-decoration: underline;
}

.already-signedup{
        margin-top: 40px;
}

.already-account{
        font-size: 17px;
        color: rgb(15, 20, 25);
        font-weight: 700;
        margin-bottom: 20px;
}

.signin-button{
        width: 300px;
        height: 40px;
        border: 1px solid #dadce0; 
        border-radius: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
        background-color: white;
}
.already-signedup button:hover{
        background-color: rgb(228,244,255);
}

.sign-in{
        display: flex;
        justify-content: center;
        color: rgb(29, 155, 240);
        font-weight: 700;
        font-size: 15px;
}

.footer-bar{
           padding: 12px 16px;   
}

ul{
        display: flex;
        list-style-type: none;
        padding: 0px;
        margin: 0px; 
        flex-wrap: wrap;
        justify-content: center;      
}

li{
        display:  inline-block;  
        padding: 0px 16px 0px 0px;
        margin: 4px 0px;       
}

.footer-bar a{
        text-decoration: none;
        color: #536471;
        font-size: 13px;
        color: rgb(83, 100, 113); 
         
}

.footer-bar a:hover{
        text-decoration: underline;
}

.footer-bar li:last-child a:hover{
        text-decoration: none;
}

@media  screen and (max-width:500px) {
        .twitter-heading span{
                font-size: 40px;
                line-height: 52px;
                letter-spacing: -0.8px;
                padding: 0px;
        }
        .twitter-heading{
                margin: 40px 0px;
                padding: 0px;
        }

        .twitter-sub-heading span{
                font-size: 23px;
                line-height: 28px;
        }
        .twitter-sub-heading{
                margin: 0px 0px 20px;
        }
        .already-account span{
                font-size: 13px;
                line-height: 16px;
        }
}